.fv{
  height: 200px;
  background-color: #FBD26B;
  padding-top: 70px;
}

.fv svg{
  height: 119px;
}

.fv__title{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  line-height: 2;
  max-width: 900px;
  margin: 0 auto;
}
h3{
  font-size: 4.8rem;
  text-align: center;
  padding-bottom: 50px;
}
h4{
  position: relative;
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

h4::after{
  position: absolute;
  content: " ";
  width: 100px;
  height: 1px;
  bottom: 3px;
  left: 50%;
  background: #333333;
  display: inline-block;
  transform: translateX(-50%);
}



/* ----------------------------------- */
/* about me
/* ----------------------------------- */
.about__wrapper{
  display: flex;
  justify-content: center;
}
.about__left img{
  width: 200px;
  height: 200px;
  padding-right: 50px;
}
/* ----------------------------------- */
/* Strength
/* ----------------------------------- */
.strength figure{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.strength img{
  width: 40vw;
  max-width: 600px;
  margin: 0 auto;
}
/* ----------------------------------- */
/* skill
/* ----------------------------------- */
.skill__wrapper{
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 50px 20px;
}
.skill__wrapper div{
  width: 310px;
  padding: 0 30px;
}
.skill__wrapper p{
  text-align: center;
}
.skill__wrapper img{
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding-bottom: 30px;
  margin: 0 auto;
}
.skill .btn{
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
  width: 150px;
}
/* ----------------------------------- */
/* Strength
/* ----------------------------------- */
.strength__wrapper small p{
  color: #444444;
  text-align: center;
  padding-bottom: 100px;
}
/* ----------------------------------- */
/* Hobby
/* ----------------------------------- */
.hobby__wrapper{
  display: flex;
  justify-self: center;
}
.hobby__wrapper img{
  width: 200px;
}
.hobby figure{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.hobby figure img{
  width: 300px;
  height: 250px;
  object-fit: contain;
  margin: 0 25px;
}
.hobby small{
  color: #444444;
  text-align: center;
}





/* -------------------------------- */
/* SPsite */
/* -------------------------------- */

@media only screen and (max-width: 1023px) {
  .about__wrapper{
    flex-direction: column;
  }
  .about__left img{
    padding-right: 0;
  }
  .about__left{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .skill__wrapper{
    flex-direction: column;
  }
  .skill__wrapper div{
    padding: 30px 0;
    margin: 0 auto;
  }
  .skill__wrapper h4{
    margin-bottom: 10px;
  }
  .skill__wrapper img{
    padding-bottom: 30px;
  }
  .hobby img{
    margin: 0 auto;
  }
  .hobby__wrapper, .hobby figure{
    flex-direction: column;
  }
}
